@use "sass:map"

$body-color: white
$body-bg: #1f1f1f
$dropdown-bg: #4c4c4c
$dropdown-link-hover-bg: #3c3c3c

$primary: #1D8252FF
//$primary-bg-subtle: #071912
//$primary-text-emphasis: #60947b
//
//$danger-bg-subtle: #2a0c0f
//$danger: #7e2129
//$danger-text-emphasis: #be6d75

/* import bootstrap to set changes */
@import "../../node_modules/bootstrap/scss/bootstrap"