.main {
    margin: 0;
}

#main_button_container {
    height: 55px;
    margin: 0 auto;

    text-align: center;

    transform: translateY(-25px);

    line-height: 50px;

    transition: 0.1s;

    font-size: 30px;
    display: block;
}


.title_image {
    margin: 0;
    filter: blur(2px);
    will-change: filter;
}

.blurred_title_image {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(30px);
    will-change: filter;
    margin-top: 30px;
    z-index: -1;
}

.title {
    transform: translateY(-200px);
    position: absolute;
    left: 50%;
}

.title div {
    position: relative;
    left: -50%;
    vertical-align: center;
}

.title div span {
    margin: 10px;
    vertical-align: middle;
}

.title div span:nth-child(1) {
    font-size: 50px;
}

.title div span:nth-child(2) {
    font-size: 20px;
    background-color: #c1452c;
    border-radius: 15px;
    padding: 8px;
    font-weight: bold;
    /*border: solid 2px #f4f4f5;*/
}

#layout {
    margin: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    max-height: calc(100vw - 100px);
}


#profile {
    position: absolute;
    right: 0;
    margin: 10px;
    transition: all .1s ease-in-out;
    z-index: 100;
}

#profile img {
    border-radius: 10px;
}

#profile img:hover {
    transform: scale(1.05);
}